body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

/*overflow-x: hidden; to get rid of side scroll later*/

main {
  flex-grow: 1;
}

*{
font-family: 'Montserrat', sans-serif;
}

.bl{
border-left: thick solid #e83283;
height: fit-content;
}

.fixed-header{
  position: fixed;
  background-color: primary;
  top: 0;
}

@media only screen and (max-width: 768px) {
  .hidden-mobile{
    display: none;
  }
}

.text-shadow{
  text-shadow: 2px 2px 2px black
}

.spill {
  bottom: -75px
}

.header{
  height: fit-content;
}

.hero-img{
  background-image: url(https://images.unsplash.com/photo-1499343162160-cd1441923dd3?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1950&q=80);
  background-size: cover;
  height: fit-content;
}

.social{
  height: fit-content;
}

.about{
  height: fit-content;
}

.testimony{
  height: fit-content;
}